* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day1 {
  width: 45%;
}

.weather-icon {
  width: 70px;
  display: inline;
}

.temp {
  display: inline;
  margin: 10px;
}

.btn {
  display: block;
  margin: 20px auto;
}

#searchBtn {
  width: 75px;
  border-radius: 10px;
}

.fa-search {
  font-size: 1.5em;
  color: #007bff;

}

#next24hours {
  display: none;
}

.card-body {
  margin: 0;
  padding: 0;

}

#meteoHeading > span {
  display:flex;
  align-items: center;
  font-weight: bold;
}
