* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.day1 {
  width: 45%;
}

.weather-icon {
  width: 70px;
  display: inline;
}

.temp {
  display: inline;
  margin: 20px;
}

.btn {
  display: block;
  margin: 20px auto;
}

#searchBtn {
  width: 75px;
}
.fa-search {
  font-size: 1.5em;
}
